.header
{
	width:100%;
	height:40px;
	border-bottom:1px solid #e3e3e3;
	position:absolute;
	top:0px;
	left:0px;
}
.header .nav
{
	width:80%;
	height:100%;
	margin:0 auto;
}
.header .nav li
{
	width:100px;
	height:100%;
	display:inline-block;
	color:#333;
	font-size:10px;
	list-style-type:none;
}
.container
{
	position:absolute;
	top:40px;
	left:0px;
	width:100%;
	height:1000px;
	background: #dceffe;
}
.container .content
{
	width:70%;
	height:auto;
	margin:0 auto;
}
.search-warp
{
	width:100%;
	height:70px;
}
.search-warp input[type="text"]
{
	width:400px;
	height:26px;
	padding:5px 20px 5px 0px ;
	float:left;
	margin:20px 0px;
}
.search-warp button
{
	width:100px;
	height:40px;
	background:#38f;
	border:none;
	color:#fff;
	float:left;
	margin:20px 0px;
}
.search-warp .search-high
{
	color:#333;
	font-size:13px;
	text-decoration: underline;
	margin-left:20px;
	position:relative;
	top:30px;
}
.content-warp
{
	box-shadow:0px 0px 1px rgba(0,0,0,.3);
	width:100%;
	height:500px;
	background:#fff;
}
.content-header
{
	width:100%;
	height:100px;
	background:#e3e3e3;
	border-bottom:1px solid #949494;
}
.content-header h1
{
	font-size:25px;
	font-family:'微软雅黑';
	font-weight:500;
	position:relative;
	float:left;
	color:#333;
	margin-bottom:0px;
	left:80px;
}
.content-header p{
	font-size:15px;
	color:#333;
	position:relative;
	left:20px;
	font-family:'微软雅黑';
	float:left;
	top:50px;
}
.content-header .focus
{
	display:block;
	background: rgba(210, 0, 0, .8);
	width:80px;
	height:30px;
	font-family:'微软雅黑';
	color:#e3e3e3;
	font-size:15px;
	float:left;
	text-align: center;
	line-height:30px;
	position:relative;
	border-radius:2px;
	left:-60px;
	top:15px;
}
.content-header .focus:hover
{
		background: rgba(210, 0, 0, 1);
}
.header-img
{
	width:150px;
	height:150px;
	border:2px solid #fff;
	border-radius:5px;
	position:relative;
	top:-75px;
	background:#fff;
	float: left;
	left:50px;
}
.detail
{
	width:200px;
	height:20px;
	float:left;
	position:relative;
	top:30px;
}
.detail .title
{
	display:inline-block;
	color:#333;
	font-size:15px;
	font-family:'黑体';
}
.detail .num
{
	color:#F66B29;
	font-family:'黑体'
}
.main-content
{
	width:100%;
	height:600px;
}
.content-nav
{
	width:100%;
	height:50px;
	list-style-type:none;
}
.content-nav  li
{
	width:100px;
	height:40px;
	display:inline-block;
	float:left;
	margin:4px 0px;
	text-align: center;
	line-height:40px;
	color:#333;
	font-size:15px;
	cursor:pointer;
}
.content-nav  li:hover
{
	border-bottom:1px solid #333
}

/*
forum layout
 */

#container {
    width: 100%;
    position: absolute;
    top: 350px;
    left: 0px;
    height:auto;
}

.main-content {
    width: 70%;
    height:100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
}

.header {
    width: 100%;
    height: 15%;
    margin: 30px 0 0 0;
}

.header h1 {
    font-size:30px;
    text-align:center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    line-height:60px;
}
.header h2{
     font-size:15px;
     color:#fff;
     line-height:40px;
     text-align:right;
     position: relative;
     right:2%;
}
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    /*边框崩塌：崩塌；边框合并*/
    border-spacing: 0;
    overflow: visible;
}

.table th {
    border: 1px solid #ddd;
    vertical-align: bottom;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: '微软雅黑';
    cursor: pointer;
    font-weight:500;
}
.table td {
    border-top: 1px solid #ddd;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    font-size:15px;
}
/*.table td:active{
    height:calc(+50px);
}*/
.table td .stick {
    background: #1CB8F3;
    color: #fff;
    padding: 5px;
    border-radius:0px 0px 0px 5px;
}

.table td .perfect {
    background: #d03c52;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 0px 0px 5px 0px;
}

.table td .click {
    border: 1px solid #e3e3e3;
    padding: 5px 10px;
    background: #e3e3e3
}
.table td img{
     width:20%;
     height:30%;
     float:left;
     margin-left:5%;
}
.table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
    /*odd;子选择器*/
}


/*条纹-IE9以下无效果*/

.table th {
    border-bottom: 2px solid #e3e3e3;
}

.table td a {
    color: #000;
    text-decoration:none;
}

.table > tbody > tr:hover > td,
.table > tbody > tr:hover > th {
    background-color: #f9f9f9;
}

.table .inner>img{
    width:25px;
    height:25px;
}